@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  @apply flex gap-0.5 mb-4;

  a {
    @apply bg-red-700 basis-full p-4 text-center text-white;
  }
}

.main-wrapper {
  @apply mx-4;
}

h1 {
  @apply text-red-600 text-4xl;
}

h2 {
  @apply border-b-2 border-red-600 border-solid;
  @apply mb-4;
  @apply text-red-600 text-2xl;
}

.section {
  @apply mb-4;
}
